article {
    background-color: #336699;
    border-radius: 15px;
    padding: 15px;
    max-width: 650px;
    color: white;
    text-indent: 25px;
}

article img{
    max-width: 60px;
}

article h3{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}