body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border-radius: 14px;
    border: 2px solid #292929;
    padding: 8px 14px;
    background-color: transparent;
}

.filled button {
    background-color: #333333;
    color: white;
}

.icon button {
    background-color: #333333;
    color: white;
}
.icon button i{
    padding: 3px;
}

button:hover {
    background-color: #006500;
    border: 2px solid #006500;
    cursor: pointer;
}